.github/
.ccache/
# Ignore entire folder
.devcontainer/*
# But allow specific files
!.devcontainer/docker-entrypoint.sh
!.github/devcontainer/build_superbuild.sh
.vscode/
.git/
.gitignore/
.dockerignore
