[submodule "extensions/polytope_controller"]
	path = extensions/polytope_controller
	url = git@github.com:arntanguy/dynPolytope-controller-superbuild.git
[submodule "extensions/superbuild-extensions"]
	path = extensions/superbuild-extensions
	url = git@github.com:mc-rtc/superbuild-extensions
