name: CI Ubuntu Focal

on:
  repository_dispatch:
    types:
    - build-focal
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    # Run on Sunday, Tuesday and Thursday nights
    - cron: '0 22 * * 0,1,4'

jobs:
  run:
    runs-on: ubuntu-22.04
    steps:
    - name: Maximize build space
      shell: bash
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo docker image prune --all --force
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Workarounds
      shell: bash
      run: |
        sudo apt-mark hold grub-efi-amd64-signed
    - name: Setup latest CMake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: 'latest'
    - name: Check CMake version
      run: cmake --version
    - name: Bootstrap
      shell: bash
      run: |
        ./utils/bootstrap-linux.sh
    - name: Install system dependencies
      shell: bash
      run: |
        mkdir -p ${TMPDIR-/tmp}/build-mc-rtc
        cmake -S ${GITHUB_WORKSPACE} -B ${TMPDIR-/tmp}/build-mc-rtc -DCMAKE_BUILD_TYPE=RelWithDebInfo -DVERBOSE_TEST_OUTPUT=ON
    - name: Install mc_rtc and related projects
      shell: bash
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@example.com"
        cmake --build ${TMPDIR-/tmp}/build-mc-rtc --config RelWithDebInfo
