name: CI macOS

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    # Run on Sunday, Tuesday and Thursday nights
    - cron: '0 22 * * 0,1,4'

jobs:
  run:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Bootstrap
      shell: bash
      run: |
        ./utils/bootstrap-macos.sh
    - name: Install system dependencies
      shell: bash
      run: |
        mkdir -p ${TMPDIR-/tmp}/build-mc-rtc
        cmake -S ${GITHUB_WORKSPACE} -B ${TMPDIR-/tmp}/build-mc-rtc -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUPDATE_ALL=OFF -DVERBOSE_TEST_OUTPUT=ON
    - name: Install mc_rtc and related projects
      shell: bash
      run: |
        cmake --build ${TMPDIR-/tmp}/build-mc-rtc --config RelWithDebInfo
